<div class="container">
    <div class="form-group">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="login" placeholder="Login">
            <input type="password" name="password" placeholder="Password">
            <input type="file" name="skin">
            <button type="submit">Грузим</button>
        </form>
    </div>
</div>