<div class="container">
    <div class="form-group">
        <h1>{{msg}}</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="text" name="login" placeholder="Login"><br />
            <input type="password" name="password" placeholder="Password"><br />
            <input type="text" name="nick" placeholder="Nick"><br />
            <input type="file" name="skin">
            <button type="submit">Грузим</button>
        </form>
    </div>
</div>